@{
    ViewBag.Title = "Chính Sách Đổi Trả";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}


<div class="row">
    <div class="span16 " style="margin-left:35px;margin-right: 35px">
        <div class="vs-mainbox-general clearfix">
            <h1 class="vs-mainbox-title clearfix">
                <span><span>CHÍNH SÁCH ĐỔI TRẢ</span></span>
            </h1>
            <hr />
            <div class="tab-content">
                <p style="margin-bottom: 0.11in;" align="center"><span style="font-family: serif;"><span style="font-size: x-large;"><strong>CHÍNH SÁCH ĐỔI / TRẢ / HOÀN TIỀN</strong></span></span></p>
                <p style="text-indent: 0.5in; margin-bottom: 0.07in;" align="justify"><span style="font-family: Times New Roman,serif; color: #000000;"><span style="font-size: large;"><span style="font-weight: normal;">Chúng tôi luôn trân trọng sự tin tưởng và ủng hộ của khách hàng khi đặt mua sản phẩm tại PhuongNam.com. Do đó chúng tôi luôn cố gắng hoàn thiện dịch vụ tốt nhất phục vụ mọi nhu cầu mua sắm của quý khách.</span></span></span></p>
                <p style="text-indent: 0.5in; margin-bottom: 0.07in;" align="justify"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><span style="font-weight: normal;"><span style="color: #ff0000;"><a href="http://www.PhuongNam.com"><span style="color: #ff0000;">PhuongNam.com</span></a></span> <span style="color: #000000;">chúng tôi luôn luôn cam kết tất cả các sản phẩm bán tại</span> <span style="color: #ff0000;"><a href="http://www.PhuongNam.com"><span style="color: #ff0000;">PhuongNam.com</span></a></span> <span style="color: #000000;">100% là những sản phẩm chất lượng và xuất xứ nguồn gốc rõ ràng, hợp pháp cũng như an toàn cho người tiêu dùng.</span></span></span></span></p>
                <p style="text-indent: 0.5in; margin-bottom: 0.07in;" align="justify"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><span style="font-weight: normal;"><span style="color: #000000;">Để việc mua sắm của quý khách tại</span> <span style="color: #ff0000;"><a href="http://www.PhuongNam.com"><span style="color: #ff0000;">PhuongNam.com</span></a></span> <span style="color: #000000;">là trải nghiệm dịch vụ thân thiện, chúng tôi hy vọng quý khách lúc nhận hàng kiểm tra kỹ lại: </span></span></span></span></p>
             
                <span>- Số lượng</span>    <br />
                <span>- Tên sản phẩm và chất lượng sản phẩm</span>

                <p style="text-indent: 0.5in; margin-bottom: 0.07in;" align="justify"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><span style="font-weight: normal;"><span style="color: #000000;">Tuy nhiên để quý khách yên tâm hơn trong việc mua sắm và trải nghiệm dịch vụ của</span> <span style="color: #ff0000;"><a href="http://www.PhuongNam.com"><span style="color: #ff0000;">PhuongNam.com</span></a></span>, <span style="color: #000000;">chúng tôi xây dựng chính sách đổi/ trả/ hoàn tiền trên tinh thần bảo vệ quyền lợi người tiêu dùng nhằm cam kết với quý khách về chất lượng sản phẩm và dịch vụ của chúng tôi.</span> </span></span></span></p>
                <p style="text-indent: 0.5in; margin-bottom: 0.11in;" align="justify"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><span style="color: #000000;">Khi quý khách hàng có hàng hóa mua tại</span> <span style="color: #ff0000;"><a href="http://www.PhuongNam.com"><span style="color: #ff0000;">PhuongNam.com</span></a></span> <span style="color: #000000;">cần đổi/ trả, xin quý khách hàng liên hệ với chúng tôi qua hotline 1900-636467 hoặc truy cập </span></span></span><span style="color: #000000;"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><span style="background: #ffffff;"><span style="color: #ff0000;"><a href="http://www.PhuongNam.com/doi-tra-hang"><span style="color: #ff0000;">PhuongNam.com/doi-tra-hang</span></a></span> để tìm hiểu thêm về chính sách đổi/trả:</span></span></span></span></p>
                <p style="text-indent: 0.5in; margin-bottom: 0.07in;" align="justify">
                    <span style="font-family: serif;">
                        <span style="font-size: large;">
                            <span style="font-weight: bold;">
                                <strong style="color: #000000;">Lưu ý: Các sản phẩm thuộc "Phiên chợ sách cũ" sẽ không được áp dụng chính sách đổi trả của PhuongNam.com</strong>
                            </span>
                        </span>
                    </span>
                </p>
               
              
                <p style="text-indent: 0.25in; margin-bottom: 0.11in;" align="justify">&nbsp;</p>
                <p style="text-indent: 0.5in; margin-bottom: 0.19in;" align="justify"><span style="color: #002060;"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><strong>Nếu cần hỗ trợ thêm quý khách có thể liên hệ trực tiếp qua </strong></span></span></span><span style="color: #ff0000;"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><strong>hotline 1900636467</strong></span></span></span><span style="color: #002060;"><span style="font-family: Times New Roman,serif;"><span style="font-size: large;"><strong> để được hỗ trợ nhanh chóng.</strong></span></span></span></p>
                <p style="text-indent: 0.25in; margin-bottom: 0.11in;" align="justify">&nbsp;</p>
            </div>
        </div>
    </div>
</div>

