
@{
    ViewBag.Title = "Chính Sách Mua Sỉ";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="row">
    <div class="span16 " style="margin-left:35px;margin-right: 35px">
        <div class="vs-mainbox-general clearfix">
            <div class="tab-content">
                <div class="m-pad-bottom-20" style="text-align: center; margin-top: 20px;"><img src="https://cdn0.Fahasa.com/media/wysiwyg/Thang-12-2017/FH2-KhachSi.png" alt=""></div>
                <p><span style="font-size: medium;">Hiện nay, do mức chiết khấu trên PhuongNam.com rất cao, đặc biệt vào các thời điểm chạy chương trình. Do đó đối với mỗi chương trình số lượng sản phẩm giảm sốc có giới hạn nhất định, vì vậy để đảm bảo quyền lợi của từng khách hàng, chúng tôi xin thông báo tiêu chí xét “Đơn Hàng Sỉ” và chính sách như sau:</span></p>
                <br><span style="font-size: medium;"> <strong>1. </strong>Đơn hàng được gọi là “đơn hàng sỉ” khi có tổng giá trị các đơn hàng trong 1 ngày có giá trị: từ <strong>3.000.000</strong> đồng (Ba triệu đồng) trở lên.</span><br>

                <ul>
                    <li><span style="font-size: medium;">- Các đơn hàng có cùng thông tin người mua hàng (cùng số điện thoại, cùng email hoặc cùng địa chỉ nhận hàng) thì được tính là đơn hàng của 1 khách hàng.</span></li>
                </ul>
                <span style="font-size: medium;"> <strong>2. </strong>Chính sách giá (% chiết khấu giảm giá). Đây là chính sách chung chỉ mang tính tương đối. Xin quý khách vui lòng liên lạc với Fahasa để có chính sách giá chính xác nhất: </span><br>
                <ul>
                    <li><span style="font-size: medium;">- Đối với Nhóm hàng sách <strong>kinh tế, <strong><strong>Văn học</strong></strong>: </strong>áp dụng mức giảm giá trên web tối đa không vượt quá 30%.</span></li>
                </ul>
                <ul>
                    <li><span style="font-size: medium;">- Đối với Nhóm hàng sách <strong>thiếu nhi và tâm lý kỹ năng: </strong>áp dụng mức giảm giá trên web tối đa không vượt quá 20%.</span></li>
                </ul>
                <ul>
                    <li><span style="font-size: medium;">- Đối với Nhóm hàng sách <strong>từ điển và sách ngoại văn : </strong>áp dụng mức giảm giá trên web tối đa không vượt quá 10%.</span></li>
                </ul>
                <ul>
                    <li><span style="font-size: medium;">- Đối với Nhóm hàng <strong>văn phòng phẩm, đồ chơi, dụng cụ học sinh</strong>: áp dụng mức giảm giá trên web tối đa không vượt quá 15%.</span></li>
                </ul>
                <ul>
                    <li><span style="font-size: medium;">- Đối với Nhóm hàng <strong>giấy photo, sản phẩm điện tử, văn hóa phẩm</strong>: áp dụng mức giảm giá trên web tối đa không vượt quá 5%.</span></li>
                </ul>
                <br><span style="font-size: medium;"> Quý khách có nhu cầu mua sỉ, vui lòng liên hệ phòng kinh doanh PhuongNam.com: 1900 63 64 67 hoặc Email: <a href="mailto:info@PhuongNam.com">info@PhuongNam.com</a>.</span>
            </div>
        </div>
    </div>
</div>
