
@{
    ViewBag.Title = "Chính Sách Vận Chuyển";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="row">
    <div class="span16 " style="margin-left:35px;margin-right: 35px">
        <div class="vs-mainbox-general clearfix">
            <h1 class="vs-mainbox-title clearfix">
                <span><span>CHÍNH SÁCH VẬN CHUYỂN</span></span>
            </h1>
            <hr />
            <ui class="block_rule_content_list" style="font-size: 16px">
                <p><span style="font-size: x-large;"><strong>THÔNG TIN ĐÓNG GÓI, VẬN CHUYỂN HÀNG</strong></span></p>

                <p>
                    Với đa phần đơn hàng, Phương Nam cần vài giờ làm việc để kiểm tra thông tin và đóng gói hàng. Nếu các sản phẩm đều
                    <strong>có sẵn hàng</strong>, Phương Nam sẽ nhanh chóng <strong>bàn giao cho đối tác vận chuyển</strong>. Nếu đơn hàng có <strong>sản phẩm sắp phát hành</strong>, Phương Nam sẽ <strong>ưu tiên giao những sản phẩm có hàng trước</strong> cho Quý khách hàng.
                </p>
                <p>Trong một số trường hợp, hàng nằm <strong>không có sẵn tại kho gần nhất</strong>, <strong>thời gian giao hàng có thể chậm hơn so với dự kiến do điều hàng</strong>. Các phí vận chuyển phát sinh, PhuongNam.com sẽ <strong>hỗ trợ hoàn toàn</strong>.</p>
                <p>Thời gian giao hàng <strong>không tính</strong> thứ 7, Chủ nhật, các ngày Lễ, Tết và không bao gồm tuyến huyện đảo xa.</p>
                <p>THỜI GIAN VÀ CHI PHÍ GIAO HÀNG TẠI TỪNG KHU VỰC TRONG LÃNH THỔ VIỆT NAM:</p>
                <p><strong>1. Nội thành TP.HCM và Hà Nội</strong></p>
                <p>Thời gian: 1-2 ngày<br>Chi phí: 15.000đ/ đơn hàng (không giới hạn giá trị, áp dụng từ 17.06.2021)</p>
                <p><strong>2. Các tỉnh thành khác</strong></p>
                <p>Thời gian: 2-3 ngày<br>Chi phí: 25.000đ/ đơn hàng (không giới hạn giá trị, áp dụng từ 17.06.2021)</p>
                <p>Chương trình giảm phí giao hàng khi mua đơn hàng từ 249.000đ sẽ được PhuongNam.com chuyển thành hình thức <strong>áp dụng mã ưu đãi</strong>, bắt đầu áp dụng từ <strong>17.06.2021</strong>.</p>

            </ui>
        </div>
    </div>
</div>

