
@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}


<div class="row">
    <div class="span16 " style="margin-left:35px;margin-right: 35px">
        <div class="vs-mainbox-general clearfix">
            <h1 class="vs-mainbox-title clearfix">
                <span><span>Giới Thiệu Nhà Sách Phương Nam</span></span>
            </h1>
            <hr />
            <div class="vs-mainbox-body clearfix">
                <div class="ty-wysiwyg-content">

                    <div>
                        <div style="text-align:justify;">&nbsp;</div>
                        <div style="text-align:justify;"><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;">Nhasachphuongnam.com là trang thương mại điện tử của <strong>Nhà Sách Phương Nam</strong>, hệ thống nhà sách thân thuộc của nhiều gia đình Việt kể từ nhà sách đầu tiên ra đời năm 1982 đến nay.&nbsp;</span>&nbsp;</div>
                        <div style="text-align:justify;">&nbsp;</div>
                        <div style="text-align:justify;"><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;">Đến với không gian mua sắm trực tuyến nhasachphuongnam.com, khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản, công ty sách trong và ngoài nước cùng nhiều dụng cụ học tập, văn phòng phẩm, quà lưu niệm, đồ chơi giáo dục chính hãng của những thương hiệu uy tín.&nbsp;<span style="font-family:arial, helvetica, sans-serif;font-size:12pt;">Cùng tiêu chí không ngừng hoàn thiện, nâng cao chất lượng sản phẩm, dịch vụ, Nhà Sách Phương Nam cam kết mang đến cho khách hàng trải nghiệm mua sắm trực tuyến an toàn, tiện lợi: cách đặt hàng đơn giản, phương thức thanh toán đa dạng, dịch vụ chăm sóc khách hàng tận tình, chu đáo.&nbsp;</span></span><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;"></span></div>
                        <div style="text-align:justify;"><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;"><img src="http://nhasachphuongnam.com/images/he-thong-nha-sach-phuong-nam.jpg?1595926614414" alt="" width="1170" height="878"></span></div>
                        <div style="text-align:center;"><strong><span style="font-size:12pt;color:#000000;"><span style="font-family:arial, helvetica, sans-serif;">Danh mục hàng hóa phong phú, nhiều sản phẩm độc quyền, được chọn lọc kỹ càng đã tạo nên sự khác biệt của Nhà Sách Phương Nam và tạo dựng được lòng tin yêu từ khách hàng.</span></span></strong></div>
                        <div>&nbsp;</div>
                        <div style="text-align:justify;"><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;"><img src="http://nhasachphuongnam.com/images/image/icon-cuon-sach.jpg?1595926251709" alt="" width="19" height="19">&nbsp;<strong>Sách quốc văn</strong>: Ngoài danh mục sách đa dạng và phong phú của nhiều nhà xuất bản, công ty sách lớn nhỏ cả nước, Phương Nam còn chủ động khai thác bản quyền và liên kết xuất bản hàng ngàn đầu sách hay và giá trị với thương hiệu <strong>Phương Nam Book</strong>, trong đó nhiều tựa được đánh giá cao và lọt vào danh mục bán chạy của các hệ thống phát hành sách lớn nhất Việt Nam. </span><br><br><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;"><img src="http://nhasachphuongnam.com/images/image/icon-cuon-sach.jpg?1595926251709" alt="" width="19" height="19">&nbsp;<strong>Sách ngoại văn</strong>: Nhà Sách Phương Nam chủ động chọn lọc và phát hành tại Việt Nam danh mục sách tiếng Anh đa dạng của những nhà xuất bản lớn trên thế giới như Penguin Random House, Hachette Livre, HarperCollins, Macmillan Publishers, Simon &amp; Schuster,… Nhiều tựa chỉ có duy nhất tại Nhà Sách Phương Nam, nhiều tựa được phát hành cùng thời điểm ra mắt của sách tại Anh và Mỹ.</span><br><br><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;"><img src="http://nhasachphuongnam.com/images/image/icon-cuon-sach.jpg?1595926251709" alt="" width="19" height="19">&nbsp;<strong>Dụng cụ học tập, văn phòng phẩm, đồ chơi, quà lưu niệm</strong>…phong phú, chính hãng, có nguồn gốc xuất xứ rõ ràng, đến từ những thương hiệu lớn trong và ngoài nước. Ngoài ra, Nhà Sách Phương Nam thường xuyên cập nhật xu hướng để giới thiệu nhiều sản phẩm mới nhằm đáp ứng thị hiếu và nhu cầu của khách hàng. </span><br><br><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;"><img src="http://nhasachphuongnam.com/images/image/icon-cuon-sach.jpg?1595926251709" alt="" width="19" height="19">&nbsp;<strong>Băng, đĩa</strong>: Với thương hiệu <strong>Phương Nam Phim</strong>, cái tên quen thuộc của nhiều người Việt với loạt phim Truyện Cổ Tích Việt Nam, Nhà Sách Phương Nam giới thiệu đến khách hàng nhiều băng đĩa nhạc của nhiều ca sĩ, nhạc sĩ nổi tiếng cùng danh mục phim điện ảnh, phim truyền hình được đông đảo khán giả yêu thích. </span><br><br><span style="font-size:12pt;font-family:arial, helvetica, sans-serif;color:#000000;">Hi vọng với trang thương mại điện tử nhasachphuongnam.com, Nhà Sách Phương Nam có thể gia tăng tiện ích cho khách hàng, đồng thời mang những sản phẩm của hệ thống nhà sách đến với mọi khách hàng trên cả nước. </span></div>
                        <div style="text-align:justify;">&nbsp;</div>
                        <div style="text-align:justify;"><span style="color:#000000;font-size:12pt;font-family:arial, helvetica, sans-serif;">Quý khách hàng có nhu cầu liên lạc, đóng góp ý kiến, phản hồi về sản phẩm dịch vụ của Nhà sách Phương Nam, vui lòng liên hệ:</span></div>
                        <div style="text-align:justify;">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

