
@{
    ViewBag.Title = "Hướng Dẫn";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}
<section id="page-wrapper">
    <div class="wrapper">
        <div class="inner">
            <div class="grid">

                <div class="grid__item large--one-whole">

                    <h1>Hướng dẫn đặt hàng</h1>
                    <div class="rte">
                        <p>Quý độc giả có thể đặt sách trực tuyến&nbsp;trên website của Lovebook theo các bước chi tiết dưới đây.</p><p><em><strong>Hướng dẫn đặt sách trực tuyến trên website&nbsp;</strong></em></p><p><em><strong>1. Tìm kiếm sản phẩm&nbsp;</strong></em></p><p>Bạn có thể tìm kiếm sản phẩm theo một trong số cách sau:</p><p>- Gõ tên sản phẩm vào thanh tìm kiếm</p><p>- Tìm theo danh mục sản phẩm&nbsp;</p><p><em><strong>2. Kiểm tra thông tin sản phẩm</strong></em></p><p>Sau khi tìm được sản phẩm mong muốn, bạn hãy nhấn vào hình ảnh từng&nbsp;sản phẩm để kiểm tra giá, đánh giá và thông tin khuyến mãi của từng sản phẩm.</p><p><em><strong>3. Đặt hàng&nbsp;</strong></em></p><p>Sau khi đã xác nhận thông tin, bạn hãy thêm sản phẩm vào giỏ hàng và chọn số lượng.&nbsp;Kiểm tra giỏ hàng và đặt hàng.&nbsp;</p><p><u><em><strong>Chú ý</strong></em></u></p><p>Sau khi hoàn thành xong đơn hàng đầu tiên, bạn có thể tiếp tục mua hàng và xem các sản phẩm khác hoặc tiến hành thanh toán&nbsp;</p><p>*&nbsp;<em>Quá trình mua hàng có thể được lặp lại cho đến khi quý khách hoàn tất việc bỏ tất cả các sản phẩm đã đặt mua vào giỏ hàng&nbsp;</em></p><p><strong><em>4. Thêm thông tin thanh toán&nbsp;</em></strong></p><p>Độc giả vui lòng đăng nhập bằng tài khoản đã có trên website Lovebook hoặc đăng nhập thông qua Facebook/Google. Trong trường hợp chưa có tài khoản, độc giả có thể đăng kí tài khoản bằng cách điền thông tin Tên, Email. Điện thoại, Địa chỉ để hoàn tất thông tin thanh toán.</p><p><strong><em>5. Chọn phương thức thanh toán</em></strong></p><p>Quý độc giả có thể lựa chọn phương thức thanh toán: Chuyển khoản qua Ngân hàng hoặc Thanh toán khi giao hàng. Sau khi đã kiểm tra xác nhận tất cả các thông tin, vui lòng nhấn "Đặt hàng"</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

