
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}
<div class="row">
    <div class="span16 et-content">
        <div class="row">
            <div class="span16" style="margin-left:35px">
                <div class="vs-mainbox-general clearfix">
                    <h1 class="vs-mainbox-title clearfix">
                        <span><span>Liên Hệ Nhà Sách Phương Nam</span></span>
                    </h1>
                    <div class="vs-mainbox-body clearfix">
                        <div class="ty-wysiwyg-content">

                            <div>
                                <div style="text-align:justify;"><span style="color:#000000;font-size:12pt;font-family:arial, helvetica, sans-serif;">Quý khách hàng có nhu cầu liên lạc, đóng góp ý kiến, phản hồi về sản phẩm dịch vụ của Nhà sách Phương Nam, vui lòng liên hệ:</span></div>
                                <div style="text-align:justify;">&nbsp;</div>
                                <div style="text-align:justify;"><span style="color:#000000;font-size:12pt;font-family:arial, helvetica, sans-serif;"><img src="http://nhasachphuongnam.com/images/untitled%20folder/images.png?1607326546219" alt="" width="14" height="14">Hotline: <strong><span style="color:#ff0000;">1900 6656</span></strong></span></div>
                                <div style="text-align:justify;">&nbsp;</div>
                                <div style="text-align:justify;"><span style="color:#000000;font-size:12pt;font-family:arial, helvetica, sans-serif;"><img src="http://nhasachphuongnam.com/images/emailllll.jpg?1595315983146" alt="" width="15" height="15">&nbsp;Email:</span></div>
                                <div style="text-align:justify;">&nbsp;</div>
                                <div style="text-align:justify;"><span style="font-family:arial, helvetica, sans-serif;font-size:12pt;color:#000000;">- Yêu cầu hỗ trợ đơn hàng Online:&nbsp;<strong>hotro@nhasachphuongnam.com</strong></span></div>
                                <div style="text-align:justify;"><span style="font-family:arial, helvetica, sans-serif;font-size:12pt;color:#000000;">&nbsp;</span><br><span style="font-family:arial, helvetica, sans-serif;font-size:12pt;color:#000000;">- Gửi bản thảo, các vấn đề liên quan đến xuất bản:&nbsp;<strong>xuatban@phuongnambook.com</strong></span></div>
                                <div style="text-align:justify;">
                                    <div style="text-align:justify;">&nbsp;</div>
                                    <div style="text-align:justify;"><span style="color:#000000;font-size:12pt;font-family:arial, helvetica, sans-serif;"><img src="http://nhasachphuongnam.com/images/icon-nha.jpg?1595298953460" alt="" width="17" height="17">&nbsp;Địa chỉ văn phòng công ty: Lầu 1, số 940 Đường 3/2, P.15, Q.11, TP. Hồ Chí Minh</span></div>
                                </div>
                            </div>



                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

