
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<span>Xin lỗi quý khách! Số lượng sản phẩm này không đủ đáp ứng</span>
<br />
<br />

<p>Về @Html.ActionLink("trang chủ", "Index", "Home")  hoặc quay lại @Html.ActionLink("giỏ hàng", "GioHang", "GioHang") </p>

